<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ex1</title>
    <link rel="stylesheet" href="static/ex1.css">
  </head>
  <body>
    <h1 class="intro">Welcome to my fucking stupid blog</h1>
    <div class="">
      <ul class="navibar">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">My story</a></li>
        <li><a href="/work/">About me</a></li>
        <li><a href="/clients/">Contact me</a></li>
      </ul>
    </div>
    <div class="intro1">
      I will show you the best quotes about life of all time.
    </div>
    <img id="imga" src="https://i.ytimg.com/vi/b9Wlei7ZV1Y/maxresdefault.jpg" alt="This is a stupid image">
    <ol>
      <li><p class="f-verdana b-green">When dealing with people remember you are not dealing with creatures of logic, but creatures of emotion.</p></li>
      <li><p >Success is not final. Failure is not fatal. It is the courage to continue hat counts.</p></li>
      <li><p>Take a chance! All life is a chance. The man who goes farthest is generally the one who is willing to do and dare.</p></li>
    </ol>
  </body>
</html>
