{% extends 'base.html' %}

{% block title %}
Trang admin
{% endblock %}

{% block page_content %}
    <table class="table" border="1px">
      <thead>
        <th scope="col">Tên</th>
        <th scope="col">Mô tả</th>
        <th scope="col">Ảnh</th>
        <th scope="col">Giá tiền</th>
        <th scope="col"></th>
      </thead>

      <tbody>
        {% for item in items %}
          <tr>
            <td>{{ item.title }} </td>
            <td>{{ item.description }} </td>
            <td> <a href="{{ item.image }}">Link</a> </td>
            <td>{{ item.price }}</td>
            <td>
              <a href="/edit_item/{{ item.id }}"><i class="fa fa-pencil text-dark" aria-hidden="true"></i></a>
              <a href="/delete_item/{{ item.id }}"><i class="fa fa-times text-danger" aria-hidden="true"></i></a>
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
{% endblock %}
</html>
