.header-img {
  text-align: center;
}
.logo-img {
  margin: auto;
  height: 100px;
  width: auto;
  object-fit: cover;
  display: block;
}

.nav {
  display: block;
  text-align: center;
}
.ul-nav {
  border: 1px;
  border-width: 1px;
  list-style-type: none;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;

}

.li-nav{
  /*text-decoration: none;*/
  display: inline-block;
  color: black;
}
.a-nav{
    display:inline-block;
    padding:10px;
}
